body{
    background-color: #333652;
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

h2 {
    text-align: center;
    color: #ffffff;
}

/*border */
.todo-table, th, td {
    border: 1px solid;
    border-bottom: 1px solid #FFF;
    border-right: 1px solid #FFF;
}

.todo-table tr:nth-child(even) {
    background-color: #90adc629;
}
.todo-table tr:nth-child(odd) {
    background-color: #e9eaec39;
}

/*table header*/
.todo-table th, .todo-table td{
    text-align: left;
    table-layout: auto;
}
.todo-table th:nth-child(3) {
    text-align: center;
}

/*th == table defines table cell, quasi nur der body*/
.todo-table tr {
    border-bottom: 1px solid #FFF;
    border-right: 1px solid #FFF;
}

.todo-table{
    width: 100%;
    table-layout: fixed;
    background-color: #333;
    color: #fff;
}

button{
    color: #fff;
    background-color: #333;
    border: none;
    align-self: center;
}
